/* You can add global styles to this file, and also import other style files */
html, body{
    /* min-height: 100%; */
    background-image: url(./app/home-page/zDgfV3V.jpg);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin:0;
    padding:0; */
  }